footer {
    color: #fff;
    a {
        color: #fff !important;
        &:hover {
            color: #fff !important;
        }
    }
}

@media (max-width: 768px) {
    // footer {
    //     > div {
    //         padding-top: 50px;
    //         padding-bottom: 50px;
    //         flex-direction: column;
    //     }
    //     .colby-base-theme-footer-menu {
    //         margin-top: 20px;
    //     }
    // }
}
